//Font pris sur Google font
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

//les fonts
$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

//les couleurs
$color-1: #2a1d52;
$color-2: #6C77F4;
$color-3: rgb(99, 164, 233);
$color-4: #4FEDD2;
$color-5: #36D0EA;
$white: #ddd;
$black: #333;

//la taille des bords
$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

// mettre les éléments et les sous éléments a la vertical
@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// * pour dire qu'il sera appliqué a tout
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// il sera appliqué a notre body maxwith la largeur maximal
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
}
button {
  cursor: pointer;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color:$black;
}
//par défaut toutes les pages sont en mode flex
.home, .knowledges, .portfolio, .contact {
  display: flex;

  // si la navigation est en dessous de 850 le body n'est plus en flex mais deviens un bloc
  @media screen and (max-width: 850px){
    display: block !important;
  }
}
// pour le petit decalage entre les components
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
  margin-left: .4rem;
//si la taille est en dessous de 850px la margin left vient a 0
  @media screen and (max-width: 850px){
    margin-left: 0 !important;
  }
}
